<a href="/groups/<%=@group.slug%>"><i class="material-icons left">arrow_back</i>Back to group</a>

<div class="container">
    <div class="row">
        <h1 class="col s12">Create a Channel</h1>
    </div>

    <div class="row">
        <form class="col s12" method='POST' action='/groups/<%=@group.slug%>/c'>
            <input type='hidden' name='channel[group_id]' value='<%=@group.id%>'>

            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="channel-name" type='text' name='channel[name]' class="validate" autocomplete="off" required>
                        <label for="channel-name">Channel Name</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button class="btn blue-grey" type="submit">Create Channel</button>
                </div>
            </div>
        </form>
    </div>

</div>




