<!-- Button to create a new group -->
<a href='/groups/new'><button>+ Create Group</button></a>

<!-- Button to browse public groups -->

<!-- List Groups for current user -->


<!-- Logout button -->
<a href='/logout'>Logout</a>