<h1>Welcome, <%=@user.name%></h1>

<h2></h2>

<!-- Button to create a new group -->
<a href='/groups/new'><button>+ Create Group</button></a>
<br><br>

<!-- List Groups for current user -->
<%@user.groups.each do |g|%>
    <a href='/groups/<%=g.slug%>'>
    <div>
        <h3><%=g.display_name%></h3>
    </div>
    </a>
<%end%>


<!-- Button to browse public groups -->
<br>
<h2></h2>
<a href='/groups/list'>Browse Groups</a>
<br>


<!-- Logout button -->
<br>
<h2></h2>
<a href='/profile'>View Profile</a> | <a href='/logout'>Logout</a>