<!-- groups sidebar -->
<ul id="slide-out" class="sidenav sidenav-fixed" style="top: 64px; width:225px">

    <!-- Button to create a new group -->
    <li><a class="btn" href="/groups/new">Create Group</a></li>

    
        <%@groups.each do |g|%>
            <li>
            <a href='/groups/<%=g.slug%>'><%=g.display_name%></a>
            </li>
        <%end%>
  

    <!-- Button to browse public groups -->
    <li><div class="divider"></div></li>
    <li><a href="/groups/list">Browse Groups</a></li>
    <li><a href="/invites">Group Invites
        <%invite_count = @user.group_invites.count%>
        <% if invite_count>0%>
            <span class="badge white-text blue-grey"><%=invite_count%></span>
        <% end %>
    </a></li>

    <li><div class="divider"></div></li>
    <li><a href='/profile'>View Profile</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<div id="main" class="container center" style="padding-left: 225px">
    <h3>Choose a group to see its channels</h3>
</div>
