<h1>Welcome, <%=@user.name%></h1>

<h2></h2>

<!-- Button to create a new group -->
<a href='/groups/new'><button>+ Create Group</button></a>
<br><br>

<!-- Button to browse public groups -->

<!-- List Groups for current user -->
<%@user.groups.each do |g|%>
    <a href='/groups/<%=g.slug%>'>
    <div>
        <h3><%=g.display_name%></h3>
    </div>
    </a>
<%end%>

<br>
<h2></h2>
<!-- Logout button -->
<a href='/logout'>Logout</a>