<a href='/groups'>Back to groups</a>

<h1>Browse Groups</h1>

<h2>Public Groups</h2>

<%@public_groups.each do |group|%>
    <p>
        <%=group.display_name%> | <%=group.num_members%>
    </P>
<%end%>


<h2>Private Groups</h2>

<%@private_groups.each do |group|%>
    <p>
        <%=group.display_name%> | <%=group.num_members%>
    </P>
<%end%>