<a href='/groups/<%=@group.slug%>'>Back to channels</a>
<h1>View Members</h1>

<%if @is_admin%>
    <a href='/groups/<%=@group.slug%>/members/edit'><button>Edit Members</button></a>
<%end%>

<%@members.each do |member|%>
    <p>
    <%=member.user.name%><%=' (Admin)' if member.admin%>
    </p>
<%end%>
