<div class="container">
    <div class="row">
        <h1 class="col s12">Create Group</h1>
    </div>

    <div class="row">
        <form class="col s12" method='POST' action='/groups'>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <input id="group-name" type='text' name='name' class="validate" autocomplete="off" required>
                        <label for="group-name">Group Name</label>
                    </div>
                </div>

                <div class="col s6">
                    <div class="input-field">
                        <input id="display-name" type='text' name='display_name' class="validate" autocomplete="off" required>
                        <label for="display-name">Display Name</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="switch">
                         <label>
                            Private
                            <input type="checkbox" name="public?" value="true">
                            <span class="lever"></span>
                            Public
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light blue-grey" type='submit'>Create Group</button>
                </div>
            </div>
        </form>
    </div>
</div>