<h1>Create a new Group</h1>

<form method='POST' action='/groups'>
    <input type='text' name='name' placeholder='Group Name'>
    <br>
    <input type='text' name='display_name' placeholder='Display Name'>
    <br>
    Private <input type='checkbox' name='public?' value='false'>
    <br>
    <input type='submit' value='Create Group'>

</form>