<h1><%=@group.display_name%></h1>

<a href='/groups/<%=@group.slug%>/members'><button>Edit Members</button></a>
<a href='/groups/<%=@group.slug%>/edit'><button>Edit Group</button></a>

<h2>Channels</h2>