<a href='/profile'>Back to profile</a>

<h1>Edit Profile</h1>

<!-- Edit form -->
<form method='POST' action='/profile'>
    <input type='hidden' id='hidden' name='_method' value='PATCH'>
    
    Name: <input type='text' name='user[name]' value='<%=@user.name%>'>
    Enter Password: <input type='text' name='user[password]'>
    <input type='submit' value='Save'>
</form>