<div class='container'>    
    <div class="row">

        <h1 class="col s12">Login</h1>

        <!-- Login Form -->
        <form class="col s12" method='POST' action='/login'>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="login-email" type='text' name='email' class="validate" required>
                        <label for="login-email">Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="login-password" type='password' name='password' class="validate" autocomplete="off" required>
                        <label for="login-password">Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type='submit'>Login</button>
                </div>
            </div>
        </form>
        <!-- end login form -->

        <!-- link to signup page -->
        <div class="col s12">
            <a href='/signup'>New User?</a>
        </div>
    </div>
</div>