<h1>Login</h1>

<!-- Login Form -->
<form method='POST' action='/login'>
    <input type='text' placeholder='Email' name='email'>
    <br>
    <input type='text' placeholder='Password' name='password'>
    <br>
    <input type='submit' value='Login'>
</form>

<!-- link to signup page -->
<br>
<h2></h2>
<a href='/signup'>Create an account</a>