<h1><%=@user.name%></h1>

<!-- Link to edit profile -->
<a href='/profile/edit'><button>Edit Profile</button></a>
<br><br>
<h2></h2>

<!-- # of groups -->
<h3>Groups Joined</h3>
<h4><%=@group_count%></h4>


<br>
<h2></h2>
<!-- Logout button -->
<a href='/logout'>Logout</a>