<div class='container'>    
    <div class="row">
    
        <h1 class="col s12">Create An Account</h1>

        <!-- Login Form -->
        <form class="col s12" method='POST' action='/signup' onSubmit = "return checkPassword(this)">
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="user-name" type='text' name='name' class="validate" required>
                        <label for="user-name">Full Name</label>
                        <span class="helper-text" data-error="Required" data-success=""></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="user-email" type='email' name='email' class="validate" required>
                        <label for="user-email">Email</label>
                        <span class="helper-text" data-error="Please enter a valid email" data-success=""></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <input id="user-password" type='password' name='password' class="validate" required>
                        <label for="user-password">Password</label>
                        <span class="helper-text" data-error="Required" data-success=""></span>
                    </div>
                </div>
                <div class="col s6">
                    <div class="input-field">
                        <input id="user-password-confirm" type='password' name='password_confirmation' class="validate" required>
                        <label for="user-password-confirm">Confirm Password</label>
                        <span class="helper-text" data-error="Password did not match" data-success=""></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button class="btn blue-grey" type='submit'>Create Account</button>
                </div>
            </div>
        </form>
        <!-- end login form -->

        <!-- link to signup page -->
        <div class="col s12">
            <a href='/login'>Already have an account?</a>
        </div>
    </div>
</div>

<script> 
    // Function to check Whether both passwords 
    // is same or not. 
    function checkPassword(form) { 
        password1 = form.password.value; 
        password2 = form.password_confirmation.value; 

        if (password1 != password2) {
            form.password_confirmation.classList.add("invalid")
            return false; 
        } 

        // If same return True. 
        else{ 
            form.password_confirmation.classList.add("valid") 
            return true; 
        } 
    } 
</script> 