<div class="container">
    <div class="row">

        <div class="col s12 center">
            <h1>Welcome to Flack!</h1>
        </div>

        <div class="row center">

            <div class="col s3 offset-s3">
                <a class="btn-large blue-grey" href='/signup'>Signup</a>
            </div>

            <div class="col s3">
                <a class="btn-large blue-grey" href='/login'> Login</a>
            </div>
            
        </div>
</div>

